<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>easyList</title>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/browserdb/dist/browserdb.js" charset="utf-8"></script>
    <script type="text/javascript" src="../scripts/liste.js"></script>
  </head>
  <body>

    <header>
      <h1>myList</h1>
      <h1><a href="recettes.html">Recettes</a></h1>
    </header>

    <div class="add">
      <form class="add">
        <input type="text" placeholder="Recette" id="titre">
        <input type="number" placeholder="Nombre de Personnes" id="nombre">
        </br>
        <input type="text" placeholder="Article" id="article">
      </form>
      <button type="button" class="add"></button>
    </div>

    <div class="liste">
      <h2>Ma liste de course</h2>
    </div>

  </body>
</html>
