<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>easyList</title>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/browserdb/dist/browserdb.js" charset="utf-8"></script>
    <script src="../scripts/librairie.js" charset="utf-8"></script>
    <script type="text/javascript" src="../scripts/liste.js"></script>
    <link rel="stylesheet" href="../style/icomoon/style.css">
    <link rel="stylesheet" href="../style/deco.css">
  </head>
  <body>

    <header>
      <span>myList</span>
      <span><a href="recettes.html">Recettes</a></span>
    </header>

    <button type="button" id="deleteList">Effacer ma liste</button>

    <div class="add">
      <form class="add">
        <input type="text" placeholder="Recette" id="titre">
        <input type="number" placeholder="Nombre de Personnes" id="nombre">
        </br>
        <input type="text" placeholder="Article" id="article">
      </form>
      <button type="button" class="add">Ajouter à ma liste </button>
    </div>

    <h2>Ma liste de course</h2>
    <div class="liste"></div>

  </body>
</html>
